In [70]:
import pandas as pd

In [71]:
pd.set_option('display.max_columns', 500)

- in macro:

    year
    
    npopul999i: population

## Exploration
We explore one macro dataset  for a specific country (AD)

In [72]:
macro = pd.read_csv('ALL/ALL/WID_AD_MacroData.csv',
                skiprows=7, sep=';')
macro.head()

,Variable Code,country,year,perc,agdpro999i,npopul999i,mgdpro999i,inyixx999i,xlceux999i,xlcusx999i,xlcyux999i
0,NaN,AD,2017,p0p100,34407.000000,76555.0,2.634028e+09,1.000000,1.0,0.887487,0.131302
1,NaN,AD,2016,p0p100,33668.890625,77281.0,2.601966e+09,0.993134,NaN,NaN,NaN
2,NaN,AD,2015,p0p100,32946.570312,78014.0,2.570294e+09,0.986316,NaN,NaN,NaN
3,NaN,AD,2014,p0p100,32172.791016,79223.0,2.548825e+09,0.990829,NaN,NaN,NaN
4,NaN,AD,2013,p0p100,30846.962891,80788.0,2.492065e+09,0.991824,NaN,NaN,NaN

### Get Population

In [73]:
import glob
list_mac = glob.glob("ALL/ALL/*_MacroData.csv")

In [74]:
dfs = []
for file in list_mac:
    df = pd.read_csv(file, skiprows=7, sep=';')
    if 'aptinc992j' in df.columns:
        df.rename(columns={'npopul999i':df['country'][0]}, inplace=True)
    else:
        continue    
    new_df = df[['year',df['country'][0]]]
    dfs.append(new_df)

In [75]:
from functools import reduce
df_pop = reduce(lambda df1,df2: pd.merge(df1,df2,on='year', how='outer'), dfs)

In [76]:
df_pop = df_pop.sort_values(by=['year'], ascending=False).reset_index().drop(['index'], axis=1)
df_pop.head()

,year,AE,BH,BR,CZ,EG,FR,IN,IQ,JO,KW,LB,OM,PS,QA,SA,SY,TH,TR,US,XM,YE
0,2017,NaN,NaN,NaN,10544422.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69037512.0,NaN,NaN,NaN,NaN
1,2016,9266971.0,1396829.0,209567920.0,10537118.0,93383568.0,66142540.0,1.326802e+09,37547688.0,7747800.0,4007146.0,5988153.0,4654471.0,4797239.0,2291368.0,32157974.0,18563596.0,68863512.0,79622064.0,323593376.0,408945619.0,27477600.0
2,2015,9156963.0,1377237.0,207847520.0,10529983.0,91508080.0,65851544.0,1.311050e+09,36423396.0,7594547.0,3892115.0,5850743.0,4490541.0,4668466.0,2235355.0,31540372.0,18502412.0,68657600.0,78665832.0,321704000.0,401847547.0,26832216.0
3,2014,9086139.0,1361930.0,206077904.0,10524783.0,89579672.0,65558808.0,1.295292e+09,35273292.0,7416083.0,3753121.0,5612096.0,4236057.0,4542059.0,2172065.0,30886544.0,18772480.0,68416768.0,77523792.0,319233000.0,394542654.0,26183676.0
4,2013,9039978.0,1349427.0,204259376.0,10510719.0,87613912.0,65263088.0,1.279499e+09,34107368.0,7214832.0,3593689.0,5286990.0,3906912.0,4418341.0,2101288.0,30201052.0,19322592.0,68143064.0,76223640.0,316796000.0,387065685.0,25533216.0

In [77]:
## Let's save the population csv
df_pop.to_csv('../Data/Population.csv', index=False)

- in inequality:
    
    aptinc992j/i: income
    
    bfiinc992i: inverse of pareto index

In [114]:
import glob
list_ineq = glob.glob("ALL/ALL/*_InequalityData.csv")

### Get income

In [79]:
dfs = []
for file in list_ineq:
    df = pd.read_csv(file, skiprows=7, sep=';')
    df = df[df.perc == 'p0p100']
    if 'aptinc992j' in df.columns:
        df.rename(columns={'aptinc992j':df['country'][0]}, inplace=True)
    elif 'aptinc992i' in df.columns:
        df.rename(columns={'aptinc992i':df['country'][0]}, inplace=True)
    else:
        continue    
    new_df = df[['year',df['country'][0]]]
    dfs.append(new_df)

In [80]:
from functools import reduce
df_income = reduce(lambda df1,df2: pd.merge(df1,df2,on='year', how='outer'), dfs)

In [81]:
df_income = df_income.sort_values(by=['year'], ascending=False).reset_index().drop(['index'], axis=1)

In [82]:
df_income.head()

,year,AE,AR,AU,BH,BR,CZ,DK,EG,ES,FR,GB,GH,HU,IN,IQ,IT,JO,JP,KE,KR,KW,LB,MU,MW,MY,NG,NO,NZ,OM,PS,QA,RU,SA,SC,SG,SY,TH,TR,UG,US,UY,XM,YE,ZA,ZM,ZW
0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32982536.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,223927.210771,34634.992532,NaN,NaN,NaN,10060.716948,NaN,NaN,NaN,NaN
1,2015,NaN,NaN,76496.224809,8686.009934,37113.481525,399086.656076,NaN,45416.167245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32304968.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,643350.260535,NaN,NaN,NaN,NaN,214121.560052,34293.839455,NaN,NaN,NaN,9990.553891,NaN,NaN,NaN,NaN
2,2014,NaN,NaN,75941.754421,NaN,39518.882834,377301.347352,NaN,NaN,NaN,35777.836,32403.920127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31827440.0,NaN,1.646583e+07,NaN,NaN,NaN,NaN,NaN,63744.710938,NaN,NaN,NaN,673909.280602,NaN,NaN,79168.007812,NaN,209758.606822,33889.649085,NaN,67454.505940,NaN,9874.237468,NaN,NaN,NaN,NaN
3,2013,NaN,NaN,75788.279105,NaN,42218.102581,370644.531755,NaN,NaN,NaN,35566.770,32151.775152,NaN,NaN,139758.528611,NaN,NaN,5631.914627,NaN,NaN,31432330.0,14982.984682,1.693425e+07,NaN,NaN,NaN,NaN,NaN,62219.886719,NaN,NaN,NaN,670470.803252,NaN,NaN,78772.218750,NaN,207294.237941,33620.144479,NaN,66210.526868,NaN,9795.628558,NaN,NaN,NaN,NaN
4,2012,NaN,NaN,75230.553798,NaN,40562.313406,374243.579835,NaN,43565.152081,22849.808594,35468.711,31886.933118,NaN,NaN,134295.200980,NaN,NaN,NaN,NaN,NaN,31081460.0,NaN,1.867175e+07,NaN,NaN,46884.574219,NaN,NaN,60186.812500,NaN,NaN,254851.215558,673087.474626,NaN,NaN,76919.367188,NaN,209108.689268,33069.504234,NaN,65976.022668,496473.125,9762.094695,NaN,119600.34375,NaN,NaN

In [83]:
## Let's save the income csv
df_income.to_csv('../Data/Income.csv', index=False)

### Get wealth

In [117]:
dfs = []
for file in list_ineq:
    df = pd.read_csv(file, skiprows=7, sep=';')
    df = df[df.perc == 'p0p100']
    if 'ahweal992i' in df.columns:
        df.rename(columns={'ahweal992i':df['country'][0]}, inplace=True)
    else:
        continue    
    new_df = df[['year',df['country'][0]]]
    dfs.append(new_df)

In [119]:
from functools import reduce
df_wealth = reduce(lambda df1,df2: pd.merge(df1,df2,on='year', how='outer'), dfs)

In [120]:
df_wealth = df_wealth.sort_values(by=['year'], ascending=False).reset_index().drop(['index'], axis=1)

In [121]:
df_wealth.head()

,year,CZ,DK,FI,FR,GB,IT,JP,KR,NL,NO,RU,SG,TW,US
0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,NaN,NaN,NaN,205132.08,NaN,NaN,2.362440e+07,NaN,NaN,1.839850e+06,2384569.50,NaN,NaN,310446.406250
2,2014,1.119289e+06,1.577861e+06,130630.065261,205493.81,NaN,NaN,2.371549e+07,NaN,206503.912384,1.732195e+06,2446600.25,349725.4375,NaN,302686.625000
3,2013,1.117217e+06,1.518426e+06,128698.777511,206265.06,NaN,183513.628205,2.331834e+07,104694416.0,202714.176358,1.675399e+06,2395503.50,347189.7500,NaN,280457.968750
4,2012,1.109685e+06,1.472944e+06,125187.398308,206382.17,118429.295896,188315.922724,2.246090e+07,105053832.0,209985.756166,1.617766e+06,2281087.75,335128.7500,4697967.5,252429.234375

In [122]:
## Let's save the income csv
df_wealth.to_csv('../Data/Wealth.csv', index=False)